<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
  </head>
  <body>
    <header class="header">
      <img src="/img/logo.png" alt="logo">
      <nav class="header_nav">
        <ul>
          <li><a href="">smartphone</a></li>
          <li><a href="">tablets</a></li>
          <li><a href="">computadoras</a></li>
        </ul>
        <ul>
          <li><a href="">login</a></li>
          <li><a href="">registro</a></li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <article class="main_cont_articulo">
        <img src="/img/img-phone-01.jpg" alt="imagen_prod_01">
        <div class="main_cont_articulo_descripcion">
          <h3>nombre del producto</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt,
            repellendus.
          </p>
        </div>
        <a href="">ver mas</a>
      </article>
      <article class="main_cont_articulo">
        <img src="/img/img-phone-02.jpg" alt="imagen_prod_02">
        <div class="main_cont_articulo_descripcion">
          <h3>nombre del producto</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt,
            repellendus.
          </p>
        </div>
        <a href="">ver mas</a>
      </article>
      <article class="main_cont_articulo">
        <img src="/img/img-phone-03.jpg" alt="imagen_prod_03">
        <div class="main_cont_articulo_descripcion">
          <h3>nombre del producto</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt,
            repellendus.
          </p>
        </div>
        <a href="">ver mas</a>
      </article>
      <article class="main_cont_articulo">
        <img src="/img/img-phone-01.jpg" alt="imagen_prod_01">
        <div class="main_cont_articulo_descripcion">
          <h3>nombre del producto</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt,
            repellendus.
          </p>
        </div>
        <a href="">ver mas</a>
      </article>
      <article class="main_cont_articulo">
        <img src="/img/img-phone-02.jpg" alt="imagen_prod_02">
        <div class="main_cont_articulo_descripcion">
          <h3>nombre del producto</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt,
            repellendus.
          </p>
        </div>
        <a href="">ver mas</a>
      </article>
      <article class="main_cont_articulo">
        <img src="/img/img-phone-03.jpg" alt="imagen_prod_03">
        <div class="main_cont_articulo_descripcion">
          <h3>nombre del producto</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt,
            repellendus.
          </p>
        </div>
        <a href="">ver mas</a>
      </article>
    </main>
    <aside>
      <section>
        <h2>tutoriales</h2>
        <article>
          <img src="/img/aside-01.jpg" alt="img_aside_01">
          <h4>titulo del tutorial de reparacion</h4>
        </article>
        <article>
          <img src="/img/aside-02.jpg" alt="img_aside_02">
          <h4>titulo del tutorial de reparacion</h4>
        </article>
        <article>
          <img src="/img/aside-03.jpg" alt="img_aside_03">
          <h4>titulo del tutorial de reparacion</h4>
        </article>
        <article>
          <img src="/img/aside-04.jpg" alt="img_aside_04" >
          <h4>titulo del tutorial de reparacion</h4>
        </article>
      </section>
      <div>
        <h2>Publicidad</h2>
        <div>
          <img src="/img/p-01.jpg" alt="img_ad_01" >
          <img src="/img/p-02.jpg" alt="img_ad_02" >
        </div>
      </div>
    </aside>
    <footer></footer>
  </body>
</html>
